body {
  margin: 0;
}

.background {
  background-image: url("record.png");
/* background-repeat below is redundant: repeating on the x and y axis is default */
  background-repeat:repeat;
}

.head {
  background: midnightblue;
  color: white;
  text-align: center;
}

.main-page {
  background: lightgrey;
  padding: 1em;
}
